{
    "plugins": [
        "syntax-dynamic-import"
    ],
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": {
                    "browsers": [
                        "> 5%",
                        "last 3 versions"
                    ]
                }
            }
        ]
    ]
}
