// ~ does not work
@import   "../../node_modules/bootstrap/scss/bootstrap";
//

h1 {
    font-size: 150px;
}

.test {
    color: red;
    position: fixed;
    left: 50%;
    top: 50%;
    animation: rotate infinite 3s linear;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}