hr

.accordion
    .section.active
        .accordion-toggle section 1
        .accordion-content(style="display: none")
            p 1 Lorem ipsum dolor sit amet, consectetur adipisicing.
    .section
        .accordion-toggle section 2
        .accordion-content
            p 2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid corporis eos facere illo nostrum perferendis. Ab aperiam aut commodi cum dignissimos doloribus ducimus eligendi enim est, expedita fugit harum iusto laboriosam laudantium minus numquam odio odit, optio perferendis quasi quibusdam quidem quos saepe temporibus ullam veritatis vitae voluptate. Tenetur, totam.
    .section
        .accordion-toggle section 3
        .accordion-content
            p 3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium aliquid animi asperiores aspernatur corporis debitis deserunt doloremque, dolores earum eligendi expedita facilis hic libero magnam maxime nam nemo officiis perferendis praesentium reiciendis sed sequi sint temporibus ullam veritatis voluptas voluptatem? Alias autem, eligendi enim eos laudantium modi possimus voluptatibus. Aperiam eius iste laudantium molestiae nemo quis repellat. Aspernatur facere facilis fuga. Animi asperiores aspernatur atque beatae consectetur culpa cum dolor dolore ducimus error eum eveniet excepturi expedita inventore itaque maiores molestias numquam perspiciatis provident quaerat quia quidem quisquam quos repellat repellendus rerum sequi, soluta suscipit totam ullam. Dolorum, nulla pariatur.
