//
template#picture
    a.picture(href='#')
        img.picture__img(src='', width='182', height='182', alt='Random file')
        p.picture__info
            span.picture__comments
            span.picture__likes
//
template#error
    section.error
        .error__inner
            h2.error__title Error load file
            .error__buttons
                button.error__button(type='button') Try again
                button.error__button(type='button') Load another file
//
template#success
    section.success
        .success__inner
            h2.success__title Image loaded successful
            button.success__button(type='button') Cool!
//
template#messages
    .img-upload__message.img-upload__message--loading Loading...
