main
    //
    section.img-filters.img-filters--inactive.container
        h2.img-filters__title.visually-hidden Photos filter
        form.img-filters__form(action='index.html', method='get', autocomplete='off')
            button#filter-popular.img-filters__button.img-filters__button--active(type='button') Popular
            button#filter-new.img-filters__button(type='button') New
            button#filter-discussed.img-filters__button(type='button') disscussed
    //
    section.pictures.container
        h2.pictures__title.visually-hidden Another users photos
        //
        section.img-upload
            .img-upload__wrapper
                h2.img-upload__title.visually-hidden Load photo
                form#upload-select-image.img-upload__form(method='post', enctype='multipart/form-data', autocomplete='off')
                    //
                    fieldset.img-upload__start
                        input#upload-file.img-upload__input.visually-hidden(type='file', name='filename', required='')
                        label.img-upload__label.img-upload__control(for='upload-file') Load
                    //
                    .img-upload__overlay.hidden
                        .img-upload__wrapper
                            .img-upload__preview-container
                                //
                                fieldset.img-upload__scale.scale
                                    button.scale__control.scale__control--smaller(type='button') Zoom -
                                    input.scale__control.scale__control--value(type='text', value='55%', title='Image Scale', name='scale', readonly='')
                                    button.scale__control.scale__control--bigger(type='button') Zoom +
                                //
                                .img-upload__preview
                                    img(src='img/upload-default-image.jpg', alt='Preview')
                                //
                                fieldset.img-upload__effect-level.effect-level
                                    input.effect-level__value(type='number', name='effect-level', value='20')
                                    .effect-level__line
                                        .effect-level__pin(tabindex='0') Button change photo deep effect
                                        .effect-level__depth Photo deep effect
                                //
                                button#upload-cancel.img-upload__cancel.cancel(type='reset') Close
                            //
                            fieldset.img-upload__effects.effects
                                ul.effects__list
                                    li.effects__item
                                        input#effect-none.effects__radio.visually-hidden(type='radio', name='effect', value='none')
                                        label.effects__label(for='effect-none')
                                            span.effects__preview.effects__preview--none Preview photo without effects
                                            |                         Original
                                    li.effects__item
                                        input#effect-chrome.effects__radio.visually-hidden(type='radio', name='effect', value='chrome')
                                        label.effects__label(for='effect-chrome')
                                            span.effects__preview.effects__preview--chrome Preview effect chrome
                                            |                         Chrome
                                    li.effects__item
                                        input#effect-sepia.effects__radio.visually-hidden(type='radio', name='effect', value='sepia')
                                        label.effects__label(for='effect-sepia')
                                            span.effects__preview.effects__preview--sepia Preview effect sepia
                                            |                         Sepia
                                    li.effects__item
                                        input#effect-marvin.effects__radio.visually-hidden(type='radio', name='effect', value='marvin')
                                        label.effects__label(for='effect-marvin')
                                            span.effects__preview.effects__preview--marvin Preview effect marvin
                                            |                         Marvin
                                    li.effects__item
                                        input#effect-phobos.effects__radio.visually-hidden(type='radio', name='effect', value='phobos')
                                        label.effects__label(for='effect-phobos')
                                            span.effects__preview.effects__preview--phobos Preview effect phobos
                                            |                         Phobos
                                    li.effects__item
                                        input#effect-heat.effects__radio.visually-hidden(type='radio', name='effect', value='heat', checked='')
                                        label.effects__label(for='effect-heat')
                                            span.effects__preview.effects__preview--heat Preview effect heat
                                            |                         Heat
                            //
                            fieldset.img-upload__text.text
                                input.text__hashtags(name='hashtags', placeholder='#hashtag')
                                textarea.text__description(name='description', placeholder='Your comment...')
                            //
                            button#upload-submit.img-upload__submit(type='submit') Publish
        //
        section.big-picture.overlay.hidden
            h2.big-picture__title.visually-hidden Photo view
            .big-picture__preview
                //
                .big-picture__img
                    img(src='img/logo-background-3.jpg', alt='girl', width='600', height='600')
                //
                .big-picture__social.social
                    .social__header
                        img.social__picture(src='img/avatar-1.svg', alt='Avatar', width='35', height='35')
                        p.social__caption testing new camera
                        p.social__likes
                            | Likes
                            span.likes-count 356
                    //
                    .social__comment-count
                        | 5 of
                        span.comments-count 125
                        |  Comments
                    ul.social__comments
                        li.social__comment
                            img.social__picture(src='img/avatar-4.svg', alt='Avatar', width='35', height='35')
                            p.social__text Mega photo !
                        li.social__comment
                            img.social__picture(src='img/avatar-3.svg', alt='Avatar', width='35', height='35')
                            p.social__text It is photoshop !!!
                    //
                    button.social__comments-loader.comments-loader(type='button') Load more
                    //
                    .social__footer
                        img.social__picture(src='img/avatar-6.svg', alt='Avatar', width='35', height='35')
                        input.social__footer-text(type='text', placeholder='Your comment...')
                        button.social__footer-btn(type='button', name='button') Send
                //
                button#picture-cancel.big-picture__cancel.cancel(type='reset') Close
