.modals-togglers-block
    .modal-toggle(data-modal-id='modal1') modal 1
    .modal-toggle(data-modal-id='modal2') modal 2
    .modal-toggle(data-modal-id='modal3') modal 3
    .modal-toggle(data-modal-id='modal4') modal 4

#modal1.modal
    .modal-wrapper
        .modal-content
            .modal-toggle close
            .modal-header
                h3 modal header 2
            .modal-body
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aperiam aut cupiditate distinctio ducimus eaque esse, eum facilis fugiat in incidunt iste labore magni nemo nihil, non officiis placeat provident qui quia reiciendis rerum sint suscipit, ut veritatis voluptas voluptates? Ab accusamus aperiam, blanditiis commodi debitis, deleniti doloremque ducimus eius eum facere fugit inventore minus nam praesentium quia recusandae, reiciendis sed sit soluta velit! Aliquam blanditiis delectus dicta dolores, eaque impedit numquam obcaecati qui repellendus voluptatem? Aliquam architecto aut ducimus, eius esse exercitationem inventore molestiae nihil nobis provident quia rem temporibus voluptas! Ad aliquam dolore doloribus dolorum eius error facere fugiat in, magnam non, officia porro provident quasi quidem quo saepe similique vero. Blanditiis dolorum eius eligendi eum omnis, quos voluptate. Delectus deleniti doloribus impedit maiores omnis perferendis, quae rem repellendus veritatis. A alias dolor ducimus illo possimus quos ut veritatis vitae voluptatem voluptatibus? A consectetur ea illum in neque odio officia quaerat quisquam sunt? Asperiores distinctio doloremque est fugiat id iusto molestias perspiciatis quod soluta tempora! Adipisci aspernatur consectetur corporis deleniti deserunt, dolore enim expedita, fuga, id impedit iure libero maxime molestiae perferendis quas quidem reiciendis repudiandae voluptatem! A, at consectetur doloribus ducimus error, esse facere harum in ipsa ipsum itaque laudantium libero modi nesciunt, nulla praesentium provident quae quia quis quisquam ratione rerum saepe sed similique totam velit vero voluptate! Aut autem consectetur corporis debitis dolor doloremque id incidunt, laborum magni nam pariatur quaerat quis quisquam, ratione, tempora totam unde voluptatum! Distinctio explicabo nesciunt sed! Accusamus alias, asperiores assumenda autem deleniti esse et facere illo ipsam iure iusto laborum minima mollitia necessitatibus nesciunt non obcaecati perferendis perspiciatis possimus repudiandae sequi temporibus ut vero vitae voluptatum? A adipisci aliquam atque, dicta, dolore doloremque id, mollitia natus quia sint sunt voluptate. Amet, corporis cupiditate deserunt ea eaque eius exercitationem expedita, iusto maiores maxime minima non numquam omnis placeat quia quis rerum sapiente sed. A aliquid enim iure libero quibusdam reprehenderit, rerum velit voluptatibus? Aliquam asperiores consectetur ex, iure labore necessitatibus nemo nostrum nulla porro quaerat quidem quisquam ratione saepe, sequi vitae? Commodi consequuntur cupiditate, explicabo harum hic praesentium sequi voluptatem. Accusamus aliquid ducimus ea eos fugiat, ipsa laboriosam libero, placeat quas quisquam quos repellendus, sapiente soluta sunt tenetur unde voluptates! Atque autem dicta dolores eum, ex facilis fuga fugiat fugit ipsam nisi obcaecati odio optio perferendis quidem quod repellendus vitae voluptates voluptatum! Aspernatur aut commodi minima nesciunt odio quaerat reiciendis rerum voluptatibus? Ab alias consequatur, deleniti deserunt distinctio doloremque dolores eum explicabo fuga illum impedit itaque mollitia nihil numquam officiis optio pariatur quae quam quia quos rem repellat sequi soluta vel velit! At deserunt dolore dolorum eos eveniet fugit harum ipsam ipsum modi obcaecati odio officia quasi, quod recusandae repudiandae rerum saepe sit temporibus ut voluptates. Ab alias amet architecto assumenda commodi consequuntur cumque delectus deserunt dignissimos ea eaque eum eveniet expedita explicabo illum incidunt iste iusto libero nesciunt officia perspiciatis, porro possimus quibusdam quisquam reprehenderit rerum saepe sequi sint totam ut? Ducimus in ipsam laboriosam maiores nemo quibusdam rerum vero? Aperiam commodi cum dolorem dolores ea eius esse, ex facere illo ipsa ipsum iste itaque, labore libero magnam molestias natus neque non numquam quia quibusdam quisquam repellat sit, tenetur voluptatem! Dolorem eius natus placeat ullam voluptate. Dolorum ducimus incidunt, laudantium molestiae nobis odit porro reiciendis repellendus saepe voluptatum! Alias aliquam aut commodi cum deleniti fugit iste natus nulla quam quo. Alias aliquam corporis culpa cum cumque distinctio dolore doloremque dolores dolorum eius eligendi fugiat harum illum ipsa itaque iure molestias natus necessitatibus officia, pariatur possimus quam quia quidem repudiandae sint soluta tenetur. Accusamus adipisci animi assumenda blanditiis debitis deserunt dolorum exercitationem, iure minima molestiae, provident quos ratione repellat sequi temporibus veniam voluptatem. A dolorum illum labore magni nobis non reprehenderit. Aperiam atque aut, deleniti, dignissimos dolor et, ipsa itaque laudantium magnam maiores molestias numquam omnis placeat praesentium quod rem similique soluta sunt temporibus vitae? Aspernatur cumque cupiditate deleniti dicta doloremque eos id illo illum ipsam ipsum iure magnam magni modi molestias perferendis porro, quisquam quo quod quos saepe sed soluta tempore velit veniam veritatis vero vitae. Adipisci earum maxime nisi numquam officia? Ad adipisci asperiores atque commodi consequuntur dicta dignissimos dolor dolorem dolores ea enim error expedita fuga illo in ipsa, ipsum laudantium minus modi nam nemo neque nesciunt odio praesentium quasi quia quibusdam reiciendis rem repellat repellendus soluta tempore temporibus ullam unde vel vero voluptate. Alias autem cum laboriosam quis ut. Consequatur excepturi libero minus optio repellendus! Animi consequatur fugiat ipsam, libero numquam quaerat sit. Et facilis quis vero. Aperiam, ex explicabo laborum molestiae nesciunt quidem reiciendis sit voluptatibus. Animi asperiores assumenda culpa, cumque delectus, ducimus eligendi error ex fugiat incidunt iusto, laborum maxime minima neque nihil odio officiis quas recusandae sapiente sequi similique sit tempora veniam veritatis voluptatibus. Aperiam assumenda at blanditiis ducimus error harum impedit incidunt laudantium magni minus molestiae nam necessitatibus nesciunt provident repellat, sit ullam vitae? Aliquam beatae dignissimos distinctio ducimus error minima porro quia recusandae rerum veritatis! Aliquid animi, doloremque, enim esse eveniet excepturi harum laudantium maiores nam, odit quidem quos recusandae vitae. Ab accusamus accusantium amet architecto aut beatae cupiditate debitis deserunt dicta doloremque earum eius exercitationem facilis fuga harum iusto laboriosam nemo nisi numquam placeat quam quia, quis ratione recusandae reprehenderit repudiandae sint, soluta suscipit tempora tenetur unde vel voluptas voluptatum? Aliquam animi beatae deserunt fugiat ipsam, natus, necessitatibus obcaecati odio provident, quidem sapiente sed similique vitae. Autem consequatur cupiditate dignissimos dolorum explicabo ipsum minima mollitia nihil nisi non officia possimus quas quidem quisquam quos sequi, vero. Alias assumenda aut deleniti, ea, fugit impedit libero magnam obcaecati odit porro, praesentium quidem quisquam quos ratione repellat unde voluptate. A cupiditate fuga itaque nisi obcaecati provident qui repellat. Distinctio pariatur possimus quia tempora. Adipisci autem dolorum earum eveniet fugit, illum laboriosam pariatur perspiciatis quas tenetur vero, voluptas? Beatae commodi corporis cum illo itaque molestias repellendus sit! Ad aut consequatur doloribus excepturi fugit laborum mollitia nisi provident, qui quisquam repellendus rerum sint sunt tenetur veritatis. Blanditiis et illum ipsa, quia quo rem voluptas.
            .modal-footer
                h5 modal footer

#modal2.modal.fadeIn
    .modal-wrapper.centered
        .modal-content
            .modal-toggle close
            .modal-header
                h3 modal header 2
            .modal-body
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aliquam.
            .modal-footer
                h5 modal footer

#modal3.modal.slideDown
    .modal-wrapper
        .modal-content
            .modal-toggle close
            .modal-header
                h3 modal header 3
            .modal-body
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aliquam.
            .modal-footer
                h5 modal footer

#modal4.modal.slideUp
    .modal-wrapper
        .modal-content
            .modal-toggle close
            .modal-header
                h3 modal header 4
            .modal-body
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aliquam.
            .modal-footer
                h5 modal footer
