div.sidebar-toggle sidebar toggle

div.offcanvas-sidebar#sidebar-main
    div.sidebar-toggle sidebar toggle
    ul
        - for (var y = 0; y < 3; y++)
            li
                a(href='#') link 0
        li
            a(href="#") opener 0
            ul
                - var x = 3;
                - for (var i = 0; i < 5; i++)
                    li
                        - if (x === i)
                            a(href='#') opener 1
                            ul
                                - for (var z = 0; z < 4; z++)
                                    li
                                        a(href='#') link 2
                        - else
                            a(href='#') link 1
        li
            a(href='#') link 0
        li
            a(href="#") opener 0
            ul
                - for (var x = 0; x < 4; x++)
                    li
                        a(href='#') link