.tab-section
    .tab-head
        .tab-nav
            a(href="#tab-content-1") tab-tab-tab 1
        .tab-nav
            a(href="#tab-content-2") tab 2
        .tab-nav.active
            a(href="#tab-content-3") tablorem 3
        .tab-nav
            a(href="#tab-content-4") tab 4
        .tab-underline
    .tab-body
        #tab-content-1.tab-content
            h3 tab content 1
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, ut.
        #tab-content-2.tab-content
            h3 tab content 2
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, ut.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, ut.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, ut.
        #tab-content-3.tab-content.active
            h3 tab content 3
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, ut.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, ut.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, ut.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, ut.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, ut.
        #tab-content-4.tab-content
            h3 tab content 4
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, ut.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, ut.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, ut.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, ut.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, ut.
